<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuboche.myapplication">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="database.db" />
        <meta-data
            android:name="VERSION"
            android:value="5" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.kuboche.bean" />
        <meta-data android:name="com.amap.api.v2.apikey" android:value="e4df470d9fe0ebc9c59dfa5caaa62ada">//开发者申请的key

        </meta-data>
        <service android:name="com.amap.api.location.APSService"></service>


        <activity
            android:name="com.kuboche.myapplication.Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kuboche.myapplication.framework"></activity>
        <activity android:name="com.kuboche.myapplication.start"></activity>
        <activity android:name="com.kuboche.myapplication.MainActivity"></activity>
        <activity android:name="com.kuboche.myapplication.change_password1"></activity>
        <activity android:name="com.kuboche.myapplication.signin"></activity>
        <activity android:name="com.kuboche.myapplication.pandora1"></activity>
        <activity android:name="com.kuboche.myapplication.pandora2"></activity>
        <activity android:name="com.kuboche.myapplication.pandora3"></activity>
        <activity android:name="com.kuboche.myapplication.data2"></activity>
        <activity android:name="com.kuboche.myapplication.park"></activity>
        <activity android:name="com.kuboche.myapplication.aboutme1"></activity>
        <activity android:name="com.kuboche.myapplication.aboutme2"></activity>
        <activity android:name="com.kuboche.myapplication.map"></activity>
        <activity android:name="com.kuboche.myapplication.change_password2_1"></activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

</manifest>